.tareaPrincipal {
    margin-bottom: 1rem;
}

.subTarea {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}

.tables {
    display: flex;
}

.id {
    padding: 2.2px 2px 3px 0;
    text-align: center;
}