<form (ngSubmit)="guardarTareaPrincipal(forma)" #forma="ngForm">
    <p>
        <input type="text" name="name" ngModel placeholder="TO-DO-List" required minlength="4">
        <button type="submit">Nueva Lista</button>
    </p>
</form>

<div *ngIf="arrayTaskComplete.length">
    <fieldset class="tareaPrincipal" *ngFor="let name of arrayListTaskName; let i = index">
        <legend> {{ name }} <button class="delete" (click)="eliminarTareaPrincipal(i)">Eliminar</button> </legend>

        <div class="subTarea">
            <form (ngSubmit)="guardarSubtarea(forma, i)" #forma="ngForm">
                <p>
                    <input type="text" name="name" ngModel placeholder="¿Que Piensas Hacer?" required minlength="4">
                    <button type="submit">Crear</button>
                </p>
            </form>

            <div class="tables" *ngIf="arrayTaskComplete.length">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of arrayTaskComplete[i]?.subTaskId">
                        <tr *ngFor="let subTaskId of item">
                            <td class="id">{{ subTaskId }}</td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Tarea</th>
                            <th>¿Completado?</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of arrayTaskComplete[i]?.subTaskName">
                        <tr *ngFor="let subTaskName of item; let indexSub = index">
                            <td>{{ subTaskName }}</td>
                            <td class="check"><input type="checkbox" name="#" id="#"></td>
                            <button class="delete" (click)="eliminarSubTarea(i, indexSub)">Eliminar</button> <button class="edit">Editar</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr />

    </fieldset>
</div>